src/**
test/**
*.ts
!*.d.ts
tsconfig.json
.env*
!.env.example
docs/
scripts/
.vscode/
.vscode-test/
node_modules/
**/*.map
.gitignore
styles/fonts/*.ttf
styles/fonts/*.woff
preview-scripts/mermaid-init-src.js
preview-scripts/toc-init-src.js
*.py
